DATA_PATH=./data
# Default local SQLite:
# DATABASE_URL=sqlite:///./data/database.db
# PostgreSQL example:
DATABASE_URL=postgresql://basicvids_storage_user:change_me@host.docker.internal:5432/basicvids_storage
REDIS_URL=redis://basicvids_redis:6379/2
CELERY_BROKER_URL=redis://basicvids_redis:6379/0
CELERY_RESULT_BACKEND=redis://basicvids_redis:6379/1
AUTH_CURRENT_USER_URL=http://basicvids_auth:8000/api/v1/users/detail/
VIDEO_TRANSCODE_WORKER_CONCURRENCY=1
